.patient-card {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
}

.patient-header {
    display: flex;
    justify-content: space-between;
}

.patient-header button {
    border: none;
    background: #195998;
    color: #fff;
    padding: 10px 10px;
    border-radius: 3px;
}

.patient-info {
    display: flex;
    justify-content: space-between;
}

.patient-name {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.searchButton {
    border: none;
    background: #195998;
    color: #fff;
    padding: 10px 60px;
    border-radius: 3px;
}

.patients-filters-searchButton {
    display: flex;
    align-items: end;
}

.patient-filters {
    display: flex;
    background: #b2a7d623;
    padding: 20px 30px;
    border-radius: 8px;
    flex-direction: column;
    gap: 15px;
}

.patient-filters-row {
    display: flex;
    justify-content: space-between;
}

.patient-filters-row1 {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    gap: 20px;
}

.patient-filters-cell {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

select {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.patient-filters-radio {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio {
    position: relative;
    width: 20px;
    height: 20px;
}

.patient-filters-radio input {
    opacity: 0;
}

.radio-made {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #888;
    border-radius: 50%;
}

.radio input:checked + .radio-made::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #195998;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radio input:checked + .radio-made {
    border: 2px solid #195998;
}

.patient-list {
    gap: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
    .patients-list {
        grid-template-columns: 1fr 1fr;
    }
}

.patient {
    display: flex;
    background: #b2a7d623;
    padding: 20px 30px;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.patientText {
    color: #757575;
}

.pages {
    display: flex;
    gap: 5px;
    align-self: center;
}

.buttonsPage {
    padding: 12px 15px;
    background: white;
    border: 1px solid #ced4da;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
}

.patient-inspection-header {
    display: flex;
    justify-content: space-between;
}

.patient-inspname, .patient-buttons {
    display: flex;
    gap: 15px;
}